---
import SiteLayout from "../layouts/siteLayout.astro";
import AboutCard from "../components/AboutCard";
---
<SiteLayout title="About Me" description="About">
    <h1 class="text-4xl text-white text-center p-4">About Me</h1>
    <AboutCard />
</SiteLayout>