---
import SiteLayout from "../../layouts/siteLayout.astro";
const projects = await Astro.glob('./*.md')
---
<SiteLayout>
    {
        projects.slice().map((project)=> (
            <article class="">
                <h2 class="text-white">{project.frontmatter.title}</h2>
                <p class="text-white">{project.frontmatter.description}</p>
                <a class="text-white" href={project.url}>Read More</a>
            </article>
        ))
    }
</SiteLayout>